{% extends 'template_base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/statistic.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Статистика по CS2
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated and user.check_auth and context %}
    <div class="row mt-4">
        <div class="col-12">
            <h4 class="stats-heading">Статистика по CS2</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Всего убийств</th>
                            <th>Всего смертей</th>
                            <th>Общее время игры</th>
                            <th>Посажено бомб</th>
                            <th>Разминировано бомб</th>
                            <th>Побед</th>
                            <th>Урон</th>
                            <th>Деньги заработано</th>
                            <th>Победы в пистолетных раундах</th>
                            <th>МВП</th>
                            <th>Победы в матчах</th>
                            <th>Матчи сыграно</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stat.total_kills }}</td>
                            <td>{{ stat.total_deaths }}</td>
                            <td>{{ stat.time_played_hours }}</td>
                            <td>{{ stat.total_planted_bombs }}</td>
                            <td>{{ stat.total_defused_bombs }}</td>
                            <td>{{ stat.total_wins }}</td>
                            <td>{{ stat.total_damage_done }}</td>
                            <td>{{ stat.money_earned }}</td>
                            <td>{{ stat.total_wins_pistolround }}</td>
                            <td>{{ stat.total_mvps }}</td>
                            <td>{{ stat.total_matches_won }}</td>
                            <td>{{ stat.total_matches_played }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% elif user.check_auth %}
        <div class="alert alert-info" role="alert">
            <p>У вас нет CS2</p>
            <a href="{% url 'games:main' %}" class="btn btn-primary">На главную</a>
            <a href="{% url 'user:profile' %}" class="btn btn-primary">Привязать другой аккаунт стим</a>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <p>Пожалуйста, привяжите аккаунт стим, чтобы просмотреть статистику.</p>
            <a href="{% url 'user:profile' %}" class="btn btn-primary">Профиль</a>
        </div>
    {% endif %}
</div>
{% endblock %}
