.custom-btn-login {
    background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 20px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убрать подчеркивание */
    display: inline-block;
}

.custom-btn-login:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.custom-btn-home {
    background-color: #6c757d; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 20px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убрать подчеркивание */
    display: inline-block;
}

.custom-btn-home:hover {
    background-color: #5a6268; /* Цвет фона при наведении */
}
.btn-container {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
    justify-content: center; /* Выравнивание по центру */
    margin-top: 20px; /* Отступ сверху */
}
