{% extends 'base_user.html' %}
{% block title %}
Пароль Изменен
{% endblock %}
{% block content %}
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Пароль изменён</h2>
                    <p class="card-text">Ваш пароль был успешно изменён.</p>
                    <div class="btn-container">
                        <a href="{% url 'user:login' %}" class="btn custom-btn-login">
                            <i class="fas fa-sign-in-alt"></i> Войти
                        </a>
                        <a href="{% url 'games:main' %}" class="btn custom-btn-home">
                            <i class="fas fa-home"></i> На главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}