<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Body of Form starts -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <div class="login__field">
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                        <div class="form-error">{{ f.errors }}</div>
                    </div>
                    {% endfor %}
                    <!---Submit Button------>
                    <button class="button login__submit login__register">
                    <span class="button__text">Зарегистрироваться</span>
                    </button>
                    <!---Submit Button----->
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <!--Body of Form ends--->
  </body>
</html>
