{% extends 'template_base.html' %}
{% block title %}Достижения{% endblock %}
{% block content %}
{% if game_list %}
<h1 class="mt-5 mb-5 fs-3">На этой странице отображаются достижения только по топ-16 играм с наибольшим количеством проведённых часов.</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for game in game_list %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a class="link-offset-2 link-offset-3-hover link-underline
            link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ game.url }}">{{ game.name }}</a></h5>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
            <p>У вас нет игр, по которым можно посмотреть статистику</p>
            <a href="{% url 'games:main' %}" class="btn btn-primary">На главную</a>
            <a href="{% url 'user:profile' %}" class="btn btn-primary">Привязать другой аккаунт стим</a>
        </div>
{% endif %}
{% endblock %}